
name: Tests

# Controls when the action will run.
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ansible:
          # Test against 2.9, 2.10 with collections and 2.11 with collections
          - "<2.10"
          - "<4"
          - "<5"

    steps:

      - uses: actions/checkout@v2

      - name: Installing dependencies
        run: |
          pip install "ansible${{ matrix.ansible }}"
          printf '[defaults]\nroles_path=../' >ansible.cfg
          ln -s $(pwd) ../stackhpc.os-networks
          ansible-galaxy role install -p .. stackhpc.os_openstacksdk

      - name: Testing code syntax
        run: |
          ansible-playbook tests/test.yml -i tests/inventory --syntax-check

  lint:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Installing dependencies
        run: |
          pip install "ansible-lint[community]"
          printf '[defaults]\nroles_path=../' >ansible.cfg
          ln -s $(pwd) ../stackhpc.os-networks
          ansible-galaxy role install -p .. stackhpc.os_openstacksdk

      - name: Linting code
        run: |
          ansible-lint -v --force-color tasks/main.yml
